
@font-face {
  font-family: 'Noah';
  src: url('../fonts/Noah/Noah.woff') format('woff'),
       url('../fonts/Noah/Noah.ttf') format('truetype'),
       url('../fonts/Noah/Noah.svg#Noah') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noh45_Am_0';
  src: url('../fonts/Noah/Noh45_Am_0.eot');
  src: url('../fonts/Noah/Noh45_Am_0.woff2') format('woff2'),
       url('../fonts/Noah/Noh45_Am_0.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/GothamBlack/Gotham-Black.eot');
  src: url('../fonts/GothamBlack/Gotham-Black.woff2') format('woff2'),
       url('../fonts/GothamBlack/Gotham-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
